body {
  padding: 4rem;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: rgba(108, 0, 240, 1);
}

.mdl-textfield__input {
  width: 250px;
}

.demo-card-wide>.mdl-card__title {
  color: #000;
  height: 180px;
  background: url(../images/card-image.jpg) center / cover;
}

.demo-card-wide {
  width: 512px;
  height: 512px;
}

form {
  margin-left: 16px;
  display: block;
}

.mdl-button {
  margin-top: 20px;
  padding-left: 16px;
  position: relative;
}

.newToDoText {
  margin-left: 16px;
}

mdl-card__title-text {
  padding-left: 16px;
}


input {
  padding-left: 50px;
}

demo-card-wide mdl-card mdl-shadow--2dp {
  padding-left: 20px;
}

.currentTasks {
  padding-left: 16px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: bold;
}

button {
  background-color: red;
  color: white;
}
